configuration {
    modi:           "drun,run,window";
    font:           "JetBrainsMono Nerd Font 12";
    show-icons:     true;
    drun-display-format: "{name}";
    hover-select:   true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "~/.config/rofi/theme.rasi"
